audio {
  min-height: 48px;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow-y: hidden;
  max-width: 720px;
}

ul.lrc_list {
  height: fit-content;
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateY(20vh);
  -webkit-transform: translateY(20vh);
  -moz-transform: translateY(20vh);
  -ms-transform: translateY(20vh);
  -o-transform: translateY(20vh);
}

ul.lrc_list > li {
  display: flex;
  align-items: center;
  margin: 18px 0;
  padding: 0 6px;
  height: 32px;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #a1a1a1;
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
ul.lrc_list > li:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}
ul.lrc_list > li.actv {
  font-size: 1.6rem;
  color: #3f3f3f;
  filter: blur(0);
  -webkit-filter: blur(0);
}

// 播放器
.player {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100%);
  height: 80px;
  background-color: #fff;

  &.open {
    height: 100%;
  }
  &:hover {
    // height: 50%;
  }

  > .player_view {
    padding: 80px 0 0 0;

    > .playerCtrl {
      z-index: 500;
      display: flex;
      position: absolute;
      bottom: 13px;
      left: 13px;
      height: 54px;
      width: calc(100% - 26px);

      > audio {
        width: 100%;
      }

      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
    }
  }
  transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
